/*
#800000 - Maroon
#DAA520 - Gold
#6d4c41 - Brown
#EEDFAE - Cream
#3E2723 - Black
*/

h2,h3,p{
    color:#3e2723;
}

.contentArea{
    margin-top:10px;
    margin-bottom:10px;
}
h2{
    margin-top:10px;
}
h3{
    margin-top:10px;
}
.introduction>p{
    margin-top:5px;
    margin-left:5%;
    margin-right:5%;
}
.primaryContent{
    display:flex;
    margin-right:5%;
    margin-left:5%;
}
.contentArea{
    width:60%;
    margin-left:3%;
    margin-right:3%;
}
.additionalContent{
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}
img{
    width:200px;
    height:200px;
}
.additionalContentImageBanner{
    margin-top: 20px;
    margin-right:5%;
    margin-left:5%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
figure{
    padding:20px;
    margin:20px;
    border-style:solid;
    min-height:80px;
    border-color:#DAA520;
    color:#EEDFAE;
    background-color:#6d4c41;
    text-align: center;
}