/*
#800000 - Maroon
#DAA520 - Gold
#6d4c41 - Brown
#EEDFAE - Cream
#3E2723 - Black
*/

.contentArea{
    margin-top:10px;
    margin-bottom:10px;
}
h2{
    margin-top:10px;
}
h3{
    margin-top:10px;
}
.primaryContent{
    display:flex;
    margin-right:5%;
    margin-left:5%;
}
.contentArea{
    width:60%;
}