@media screen and (max-width: 768px) {
    img{
        max-width: 100%;
        height:auto;
    }
    
    main{
        display:flex;
        flex-direction: column;
        width:100%;
        background-color: black;
        color:white;
    }
  }
figure{
    min-width:400px;
    text-align: center;
}
img{
    min-width:300px;
}
main{
    margin-top:20px;
    margin-bottom:20px;
    column-count: 3;
    margin-left:5%;
    margin-right:5%;
}
figure{
    margin:20px;
}
figcaption{
    text-align: center;
    font-size: 22px;
}