img{
    width:300px;
}
main{
    margin-top:20px;
    margin-bottom:20px;
    column-count: 3;
    margin-left:5%;
    margin-right:5%;
}
figure{
    margin:20px;
}
figcaption{
    text-align: center;
    font-size: 22px;
}